/*Fuente de letra*/
@font-face{
    font-family: "Artil";
    src: url("../webfonts/OpenSans-Bold.ttf");
}

@font-face{
    font-family: "Artil_Cocteles";
    src: url("../webfonts/OpenSans-SemiBold.ttf");
}
@font-face{
    font-family: "Artil_Preparar";
    src: url("../webfonts/OpenSans-LightItalic.ttf");
}
.inv {
    visibility: collapse !important;
    display: none !important;
}

.dis {
    opacity: 1;
}

#inner_bar {
    transition: width 500ms;
    height: 100%;
    background-color: green;
    display: flex;
}

#inner_bar > div {
    margin: auto;
}

#outter_bar {
    height: 40px;
    width: 100%;
    background-color: grey;
}

#DM_dose_bar {
    height: 50px;
    width: 90%;
    margin-left: 5%;
    margin-top: auto;
    margin-bottom: auto;
    transition: opacity 500ms;
}

.DM_button {
    transition: opacity 500ms;
}
.fas-s {
    font-size: 15vh !important;
}

.open {
    width: 80% !important;
    height: 80% !important;
    visibility: visible !important;
    top: 15% !important;
    left: calc(10% - 10px) !important;
    opacity: 1 !important;
}

.trans {
    visibility: visible !important;
    opacity: 1 !important;
}

/*Ventana de ingredientes de cocteles*/
.modal {
    opacity: 0;
    width: 0;
    height: 0;
    position: fixed;
    top: 55%;
    left: 50%;
    z-index: 100;
    background-color: #000000;
    border: 5px solid rgb(255, 255, 255);
    border-radius: 10px;
    transition: width 1s, height 1s, top 1s, left 1s;
}

.modala {
    visibility: hidden;
    display: none;
}

#DM_left {
    width: calc(50% - 10px);
    height: 100%;
    margin: auto;
    display: flex;
}

#DM_right {
    width: 50%;
    height: 100%;
    margin: auto;
    transition: opacity 1s;
}

#DrinkModal {
    display: flex;
    flex-direction: row;
}

#DM_description {
    height: 60%;
    margin-top: 4%;
    width: 90%;
    margin-left: 5%;
}

#DM_context {
    height: 80%;
}

#DM_ing_loader {
    margin: auto;
    position: relative;
    right: 6%;
}

#DM_zubereiten_mover {
    transition-property: left;
    transition-delay: 0ms;
    transition-duration: 200ms;
    margin-bottom: auto;
    margin-top: auto;
    position: relative;
    left: 15%;
}

#DM_buttons {
    height: 25%;
    width: 90%;
    margin-top: 4%;
    margin-left: 5%;
    display: flex;
    flex-direction: row;
    transition: opacity 500ms;
}

/*Boton de regresar*/
#DM_abbruch {
    background-color: rgb(0, 0, 0);
    position: relative;
    right: 15px;
}

#DM_zubereiten {
    display: flex;
    flex-direction: row;
    width: 45%;
    text-align: left !important;
}

#DM_zubereiten_loading {
    position: relative;
    left: 100px;
}

#DM_zubereiten_inner {
    display: flex;
    flex-direction: row;
    margin-top: auto;
    margin-bottom: auto;

}

.DM_button {
    padding: 3%;
    background-color: rgb(0, 0, 0);
    border: 2px solid rgb(255, 255, 255);
    margin: auto;
    width:auto;
    display: flex;
    flex-direction: row;
    font-size: 4vh;
    color: #F0F0F0;
    text-align: center;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.DM_ing {
    margin-left: 5%;
    display: flex;
    flex-direction: row;
    margin-bottom: auto;
}

.DM_ing_amm {
    margin-right: 15%;
    width: 15%;
}

.DM_ing_name {
    text-align: center;
}

#DM_List {
    display: flex;
    flex-direction: column;
    font-size: 4vh;
    margin-left: 15%;
    height: 80%;
}

#DM_name {
    text-align: center;
    width: 100%;
    font-size: 8vh;
    margin-bottom: 5%;
}

.DM_button > i {
    margin-right: 10%;
    padding-top: 1.5%;
}

#DM_left > i {
    font-size: 60vh;
    margin: auto;
}
#CM_content {
    margin: 0 auto;
    height: 90%;
    width: 90%;
    text-align: center;
}

#CM_content > h1{
    align-items: center;
}

#CM_content > div {
    margin: 0 auto;
}

#ConfigurationModal > div {
    margin: auto;
}

.MC_cls {
    display: none;
}

#modalclose {
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100vw;
    z-index: 99;
}

#mod-config {
    display: flex;
    align-content: center;
    height: 100%;
    width: 100%;
}

#mod-drink {
    height: 100%;
}

/*Fondo de donde se ponen los botones*/
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: rgb(0, 0, 0);
    color: #FFFFFF;
}

.fas-s {
    font-size: 5rem;
}

/*Margen del botón para derecha o izquierda*/
.side-but {
    background-color: rgb(164, 164, 164);
    padding-right: 5px;
    padding-left: 5px;
    border-radius: 5px
}

#content {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.row {
    height: 40%;
    width: 100%;
    display: flex;
    flex-direction: row;
    position: relative;

}

/*Botones en los que se carga las bebidas*/
.button {
    background-color: rgb(0, 0, 0);
    border: 2px groove rgb(255, 255, 255);
    width: 28%;
    margin-right: auto;
    margin-left: auto;
    height: 90%;
    display: flex;
    text-align: center;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    justify-content: center;
}

.alc {
    background-color: rgb(0, 0, 0) !important;
}

.loader_active {
    padding-top: 2px !important;
    padding-bottom: 2px !important;
}

/* Nombres de las bebidas en el menu principal*/
.name {
    position:absolute;
    margin:auto;
    /*position:fixed;*/
    text-align: center;
    color: rgb(255, 255, 255);
    font-family:"Artil";
    font-size: 0.75rem;
    padding: 20% 1% 0 0;
}

/* Imagen en el menu principal*/
.image {
    margin: auto;
    margin-top: 5px;
    margin-left:45px;
    padding-top:10px;
    
}

/* Ubicación de los botones*/
.buttons {
    width: 80%;
    height: 90%;
    overflow-y: hidden;
    position: fixed;
    top: 15%;
    right: 10%;
    display: flex;
    flex-direction: column;
    transition-property: right;
    transition-delay: 0ms;
    transition-duration: 1s;
    z-index: 10;
}

.r1 {
    margin-top: 3%;
    margin-bottom: 3%;
}

/*Ubicacion del encabezado*/
#header {
    width: 100%;
    height: 15%;
    display: flex;
    margin-top: 2%;
    padding-top: 0;
}

/*Para el titulo de roboshot*/
#title {
    margin: auto;
    position: fixed;
    left: 18px;
}

/*Posicion del logo en la pantalla principal*/
#logo{
    position: fixed; 
    left: 620px;
}

/*Posicion del logo en la pantalla de configuracion*/
#logo2{
    position: fixed;
    left: 325px;
    bottom: 25px; 
}

/*Posicion del logo en los ingresos de las bebidas*/
#logo3{
    position: fixed;
    left: 80px;
    top: 80px; 
}
/*Ubicación de la palabra cocteles en la mitad*/
#cocteles{
    position: fixed; 
    top: 30px;
    right: 320px; 
    font-family:"Artil";
}

/*Posicion,ancho y alto del boton de configuracion*/
#config-but {
    width: 40px;
    height: 40px;
    position: fixed;
    top: 10px;
    right: 20px;
}

/*Color de los costados de la pagina principal*/
.side {
    width: 10%;
    height: 85%;
    position: fixed;
    top: 15%;
    display: flex;
    z-index: 90;
    background-color: rgb(0, 0, 0);
}

#right-side {
    right: 0;
}

#right-but {
    margin: auto;
}

#left-but {
    margin: auto;
}

#left-side {
    left: 0;
}

/*Proporcion del boton de configuracion*/
.fa-cog {
    font-size: 40px;
}

/*Tamaño y ancho de las letras de cocteles*/
#h9 {
    font-size: 2rem;
    font-family: "Artil_Cocteles";
    font-weight: thin;
}

/*Tamaño y ancho de las letras del titulo*/
#h10 {
    font-size: 2rem;
    font-family: "Artil";
    font-weight: thin;
}
/*Tamano y ancho de las letras de la calculador*/
#c10{
    font-size: 1.2rem;
    font-family: "Artil";
    font-weight: thin; 
}
/*Tamaño y ancho de las letras de volver y preparar bebida*/
#h11{
    font-size: 1rem;
    font-family: "Artil_Preparar";
    font-weight: thin;
}
/*Tamano y tipo de letra para los hexagonos*/
#h12{
    font-size: 1rem;
    font-family: "Artil_Cocteles";
    font-weight: thin;
    text-align: center;
}
#hconf{
    font-size: 2rem;
    font-family: "Artil_Cocteles";
    font-weight: thin;
}
.d0 {
    right: 10%;
}

.d1 {
    right: -110%;
}

/*Botones dentro de la opcion de configuracion*/
.CM_button {
    margin: auto;
    min-width: 20px;
    min-height: 40px;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    font-weight: bold;
    display: flex;
    text-align: center;
    width: auto;
    border: 3px groove rgb(255, 255, 255);
    border-radius: 5px;
}
/*Botones dentro de las bebidas*/
.CM_button2 {
    margin: auto;
    min-width: 20px;
    height: auto;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    font-weight: bold;
    display: flex;
    text-align: center;
    justify-content:center;
    align-items:center;
    width: 100px;
    border: 3px groove rgb(255, 255, 255);
    border-radius: 5px;
}
/*Para el boton de regreso*/
.contenedor{
    text-align: center;
    margin-top: 25px;
}
.btn1{
    border: 3px groove rgb(255, 255, 255);
    border-radius: 5px;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}

/*Para los hexagonos de las bebidas*/
.container{
    margin-top:50px;
    margin-left:150px;
    width:300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}

.container .hexagonArea{
    display:flex;
}

.container .hexagonArea .hexagon{
    position:relative;
    width:75px;
    height:100px;
    margin: 0 10px;
    clip-path: polygon(0 25%, 50% 0,100% 25%,100% 75%,50% 100%, 0 75%);
    background-color: rgb(56, 110, 184); 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
/*boton para regresar al menu principal*/
.CM_back{
    height: auto;
    width: auto;
    border: 3px groove rgb(255, 255, 255);
    border-radius: 5px;
    color: white;
    text-align: center;
    display: inline-block;
    font-weight: bold;
    margin: auto;
}

.CM_button > div{
    margin: auto;
    font-size: 2rem;
    text-align: center;
}

/*Para el teclado*/
.flex{
    display:flex;
    align-items:center;
    justify-content:center;
}
.numPan{
    border-radius:10px;
    background: #000;
}

.numPan .disp input{
    margin-top:5px;
    width:300px;
    padding: 8px;
    outline: none;
    border-radius: none;
    background: none;
    text-align: center;
    color:#ffffff;
    font-size: 1.5rem;
    font-family: "Artil_Cocteles";
    font-weight: thin;
}

.numPan .nums > .r div{
    width: 30px;
    height: 30px;
    margin: 5px;
    border: 1px solid #F0F0F0; 
    border-radius:2px;
    cursor: pointer;
}

.numPan .nums > .m div{
    width: 30px;
    height: 30px;
    margin: 5px;
    border: 1px solid #F0F0F0; 
    border-radius:2px;
    cursor: pointer;
}
/*Espaciado entre la primera fila de botones*/
#CM_buttons {
    text-align: auto;
    height: 20%;
    display: flex;
    flex-direction: row;
}

/*Para el boton de regreso*/
#CM_backs{
    text-align: center;
    height: 20%;
    display: flex;
}

#CM_config {
    text-align: center;
}

/*Espaciado entre la segunda fila de botones*/
#CM_buttons2 {
    /*width: 70%;*/
    height: 20%;
    display: flex;
    flex-direction: row;
}

/*Espaciado entre la tercera fila de botones*/
#CM_buttons3 {
    /*width: 70%;*/
    height: 20%;
    display: flex;
    flex-direction: row;

}


.lds-roller {
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
    padding: 0;
}

.lds-roller div {
    animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    transform-origin: 32px 32px;
}

/*Puntos de cargando*/
.lds-roller div:after {
    content: "";
    display: block;
    position: absolute;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: rgb(255, 255, 255);
    margin: -3px 0 0 -3px;
}

.lds-roller div:nth-child(1) {
    animation-delay: -0.036s;
}

.lds-roller div:nth-child(1):after {
    top: 50px;
    left: 50px;
}

.lds-roller div:nth-child(2) {
    animation-delay: -0.072s;
}

.lds-roller div:nth-child(2):after {
    top: 54px;
    left: 45px;
}

.lds-roller div:nth-child(3) {
    animation-delay: -0.108s;
}

.lds-roller div:nth-child(3):after {
    top: 57px;
    left: 39px;
}

.lds-roller div:nth-child(4) {
    animation-delay: -0.144s;
}

.lds-roller div:nth-child(4):after {
    top: 58px;
    left: 32px;
}

.lds-roller div:nth-child(5) {
    animation-delay: -0.18s;
}

.lds-roller div:nth-child(5):after {
    top: 57px;
    left: 25px;
}

.lds-roller div:nth-child(6) {
    animation-delay: -0.216s;
}

.lds-roller div:nth-child(6):after {
    top: 54px;
    left: 19px;
}

.lds-roller div:nth-child(7) {
    animation-delay: -0.252s;
}

.lds-roller div:nth-child(7):after {
    top: 50px;
    left: 14px;
}

.lds-roller div:nth-child(8) {
    animation-delay: -0.288s;
}

.lds-roller div:nth-child(8):after {
    top: 45px;
    left: 10px;
}

@keyframes lds-roller {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/*Pagina de cargando*/
#loading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1000;
    display: flex;
    flex-direction: row;
    background-color: rgb(0, 0, 0);
}

#loading > div {
    font-size: 4vh;
    text-align: center;
    margin: auto;
}

.inv {
    visibility: hidden;
}